/* BODY */
html, body {
	height: 100%;
	width: 100%;
  	margin: 0;
  	padding: 0;
  	text-align: center;
}

.title {
	display: flex;
	height: 15%;
}

h1 {
	font-family: 'Indie Flower', cursive;
	font-size: 250%;
	margin: auto;
	color: #18428C;
	padding-top: 10px;
}

@media screen and (max-device-width:850px) {
	#logoSG {
		display: none;
	}
}

@media screen and (max-width:850px) {
	#logoSG {
		display: none;
	}
}

#logoSG {
	position: absolute;
	top: 0;
	left: 0;
}


h2 {
	display: table-cell;
	font-family: 'Indie Flower', cursive;
	font-size: 200%;
	margin: auto;
	text-decoration: none;
	font-style: none;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

.main {
	height: 85%;
}

.client {
	display: table;
	bottom: 0;
	width: 50%;
	background-color: #e95b52;
	color: white;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	float: left;
}

.professional {
	display: table;
	bottom: 0;
	width: 50%;
	background-color: #63bc9b;
	color: white;
	height: 100%;
	margin-left: 50%;
	margin-right: 0;
}

.client:hover {
	background-color: #bd514a;
}

.professional:hover {
	background-color: #407a65;
}