/* BODY */
html, body {
	max-height: 100%;
	width: 100%;
  	margin: 0;
  	padding: 0;
  	text-align: center;
}

.title {
	display: flex;
	height: 10%;
}

h1 {
	margin: auto;
	font-family: 'Indie Flower', cursive;
	font-size: 250%;
	color: #18428C;
}

@media screen and (max-device-width:850px) {
	#logoSG {
		display: none;
	}
}

@media screen and (max-width:850px) {
	#logoSG {
		display: none;
	}
}

#logoSG {
	position: absolute;
	top: 0;
	left: 0;
}


h2 {
	font-family: 'Indie Flower', cursive;
	font-size: 200%;
	margin: auto;
}

.client {
	display: flex;
	bottom: 0;
	float: left;
	width: 50%;
	background-color: #e95b52;
	color: white;
	margin-top: 7%;
	height: 80%;
}

.professional {
	display: flex;
	bottom: 0;
	float: right;
	width: 50%;
	background-color: #63bc9b;
	color: white;
	margin-top: 7%;
	height: 80%;
}

.client:hover {
	background-color: #bd514a;
}

.professional:hover {
	background-color: #407a65;
}