/* BODY */
html, body {
	height: 100%;
	width: 100%;
  	margin: 0;
  	padding: 0;
  	text-align: center;
}

.title {
	display: flex;
	height: 10%;
}

h1 {
	font-family: 'Indie Flower', cursive;
	font-size: 250%;
	margin: auto;
	color: #18428C;
	padding-top: 10px;
}

@media screen and (max-device-width:850px) {
	#logoSG {
		display: none;
	}
}

@media screen and (max-width:850px) {
	#logoSG {
		display: none;
	}
}

#logoSG {
	position: absolute;
	top: 0;
	left: 0;
}

/* SVG */
svg {
	padding-top: 10px;
	padding-bottom: 20px;
	width: 70%;
	height: 70%;
	margin: 0 auto 0 auto;
}

.kitchen path {
  fill: none;
  stroke: #000000;
  stroke-width: 0.26458332px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
}

.kitchen text {
	font-style: normal;
	font-weight: normal;
	font-size: 6.3499999px;
	line-height: 6.61458302px;
	font-family: sans-serif;
	letter-spacing: 0px;
	word-spacing: 0px;
	fill: #000000;
	fill-opacity: 1;
	stroke:none;
	stroke-width:0.26458332;
}

.kitchen.inactive text {
	fill: #999999;
}

.livingroom path {
	fill: none;
	stroke: #000000;
	stroke-width: 0.26458332px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

.livingroom text {
	font-style: normal;
	font-weight: normal;
	font-size: 10.58333302px;
	line-height: 6.61458302px;
	font-family: sans-serif;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: #000000;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 0.26458332;
}

.livingroom.inactive text {
	fill: #999999;
}

.bedroom path {
	fill: none;
	stroke: #000000;
	stroke-width: 0.26458332px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

.bedroom text {
	font-style: normal;
	font-weight: normal;
	font-size: 10.58333302px;
	line-height: 6.61458302px;
	font-family: sans-serif;
	letter-spacing: 0px;
	word-spacing: 0px;
	display: inline;
	fill: #000000;
	fill-opacity: 1;
	stroke: none;
	stroke-width: 0.26458332;
}

.bedroom.inactive text {
	fill: #999999;
}

.roomHover path {
  fill: pink;
}

.roomHover text {
  fill: red;
}

.inactive.roomHover path {
  fill: #ffedf0;
}

.inactive.roomHover text {
  fill: #ff5959;
}