/* BODY */
body {
	margin: 0;
	height:100%;
	width: 100%;
	background: #F0F0F0;
	font-family: 'Source Sans Pro', sans-serif;
}

/* MENU */
.collapsible{	
	list-style: none;
	float: right;
	width: 20%;
	display: block;
	background: #F0F0F0;
}

.collapsible li {
    margin: 0;
    background: #F0F0F0;
    text-align: center;
}

.collapsible li a {
	text-decoration: none;
    color: #666666;
    display: block;
    padding: 8px;
}

.collapsible li a:hover {
	background: #F8F8F8;
    text-decoration:none;
}

.collapsible li ul {
	list-style: none;
    background: #D3D3D3;
    display: none;
    margin:0;
    padding:0;
}
   
.collapsible li ul li {
	margin:0;
	background: #D3D3D3;
}
    
.collapsible li ul li a {
	padding: 5px; 
    display: block; 
    background: #D3D3D3;
    font-weight: bold; 
}

.collapsible li ul li a:hover {
	text-decoration: none;
	background: #D3D3D3;
}

.collapsible .dropdown > a:hover { 
	background: #F8F8F8; 
}

.collapsible .dropdown > a { 
	font-size: 130%; 
}

.collapsible .dropdown ul { 
	padding-top: 15px;
	padding-bottom: 15px; 
}

.collapsible hr {
	width: 20%;
	border-style:solid;
	border-color: #666666;
	margin-top: 15px;
	margin-bottom: 15px;
}

@media screen and (max-device-width:850px) {
	.collapsible .dropdown > a {
		font-size: 100%;
	}

	.collapsible li ul li {
		font-size: 80%;
	}
}

@media screen and (max-width:850px) {
	.collapsible .dropdown > a {
		font-size: 100%;
	}

	.collapsible li ul li {
		font-size: 80%;
	}
}

/* MENU RADIO */
input[type="radio"] + label {
    color:#666666;
    vertical-align: left;
}

input[type="radio"]:checked + label {
    color: #AAAAAA;
    vertical-align: left;
}

/* MENU RANGE */
#slider-vertical {
	height: 200px;
	background: #239fd9;
	margin-left: 47.5%;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 10px;
}

span.ui-slider-handle {
	background: #1E8ABC;
}

.ui-slider-range {
	background: #A7D9F1;
}

#lux {
	border: 0; 
	color: #666666; 
	font-weight: bold; 
	background: #D3D3D3;
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
}

/* MENU SUBMIT */
input[type="submit"] {
	border: 0;
	color: #666666;
	width: 100%;
	background-color: #ADDBAE;
	font-size: 130%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Source Sans Pro', sans-serif;
}

input[type="submit"]:hover {
	background-color: #C9E2CA;
}

@media screen and (max-device-width:850px) {
	input[type="submit"] {
		font-size: 100%;
	}
}

@media screen and (max-width:850px) {
	input[type="submit"] {
		font-size: 100%;
	}
}

/* SCENE */
#scene {
	float: left;
	display: block;
	width: 80%;
}

button {
	border: 0;
	color: #666666;
	background-color: #ADDBAE;
	font-size: 130%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Source Sans Pro', sans-serif;
}

button:hover {
	background-color: #C9E2CA;
}

/* POP UP */
.cover {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.blur-in {
    -webkit-animation: blur 2s forwards;
    -moz-animation: blur 2s forwards;
    -o-animation: blur 2s forwards;
    animation: blur 2s forwards;
}

.blur-out {
    -webkit-animation: blur-out 2s forwards;
    -moz-animation: blur-out 2s forwards;
    -o-animation: blur-out 2s forwards;
    animation: blur-out 2s forwards;
}

@-webkit-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-moz-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-o-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-webkit-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-moz-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-o-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

.pop-up {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 2;
    width: 50%;
    height: 70%;
}

.box {
    background-color: whitesmoke;
    padding-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    position: relative;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}

.close-button {
    transition: all 0.5s ease;
    position: absolute;
    background-color: #FF9980;
    padding: 1.5px 7px;
    right: 0;
    margin-right: -10px;
    margin-top: -9px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: white;
    -webkit-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
    box-shadow: -3px 1px 6px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}

.close-button:hover {
    background-color: tomato;
    color: #fff;
}

h3 {
	font-family: 'Indie Flower', cursive;
	font-size: 200%;
	margin: auto;
	color: #18428C;
	padding-top: 10px;
	padding-bottom: 20px;
}